client2/Jukebox.Client2/Service References/JukeboxService/Metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayPosition" type="ser:duration" />
      <xs:element minOccurs="0" name="Singer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="tns:TrackSource" />
      <xs:element minOccurs="0" name="State" type="tns:TrackState" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:simpleType name="TrackSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VK" />
      <xs:enumeration value="Cache" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrackSource" nillable="true" type="tns:TrackSource" />
  <xs:simpleType name="TrackState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Downloading" />
      <xs:enumeration value="Ready" />
      <xs:enumeration value="Playing" />
      <xs:enumeration value="Finished" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrackState" nillable="true" type="tns:TrackState" />
  <xs:complexType name="Playlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Playlist" nillable="true" type="tns:Playlist" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
</xs:schema>