client2/Jukebox.Client2/Service References/JukeboxService/Metadata3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" />
  <xs:import schemaLocation="http://localhost:8080/Metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetCurrentTrack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="GetCurrentTrackResult" nillable="true" type="q1:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVolumeLevelResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVolumeLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVolumeLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCurrentTrackChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q2:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="GetPlaylistResult" nillable="true" type="q3:Playlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="playlist" nillable="true" type="q4:Playlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlaylistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q5:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q6:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Next">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTrackAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q7:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTrackRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q8:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTrackStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="track" nillable="true" type="q9:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jukebox.Server.Models" minOccurs="0" name="SearchResult" nillable="true" type="q10:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="GetSilverlightPolicyResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>